spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: narendra.dev780@gmail.com
    password: cbvpzqwdxofadlav
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
